<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
  <label for="email">e m a i l:</label>
  <input type="text" name="email">
  <br/>
  <label for="password">password:</label>
  <input type="text" name="password">
  <br/>
  <button>Log In</button>
</form>
